<!DOCTYPE html>
<html>
<body onload="getAllValues()">

    <h3>Status:</h3>
    <div id="statusAllValues"></div>
    <button onclick="startContinuous()">Continuous Update</button>
    <button onclick="stopContinuous()">Stop Updates</button>
    </br>
    </br>
    </br>
    </br>
    <h3  style="display: inline">pan_servo_offset:</h3>
    <div style="display: inline" id="pan_servo_offset"></div>
    <button onclick="getVal('pan_servo_offset', 'config/')">Get</button>
    </br>
    <input type="text" id="pan_servo_offset_box">
    <button onclick="setVal('pan_servo_offset', 'config/')">Set</button>
    </br>
    </br>
    </br>
    <h3  style="display: inline">tilt_servo_offset:</h3>
    <div style="display: inline" id="tilt_servo_offset"></div>
    <button onclick="getVal('tilt_servo_offset', 'config/')">Get</button>
    </br>
    <input type="text" id="tilt_servo_offset_box">
    <button onclick="setVal('tilt_servo_offset', 'config/')">Set</button>
    </br>
    </br>
    </br>
    <h3  style="display: inline">magnetic_declination:</h3>
    <div style="display: inline" id="magnetic_declination"></div>
    <button onclick="getVal('magnetic_declination', 'config/')">Get</button>
    </br>
    <input type="text" id="magnetic_declination_box">
    <button onclick="setVal('magnetic_declination', 'config/')">Set</button>
    </br>
    </br>
    </br>
    debugOneSet:<br>
    <div id="debugOneSet"></div>

    <script>
        var airURL = "http://192.168.168.10:5000/";

        var intFD = null; // Interval descriptor

        var startContinuous = function() {
            intFD = setInterval(getAllValues, 500);
        };
        var stopContinuous = function() {
            clearInterval(intFD);
        };

        const getAllValues = async () => {
          const response = await fetch(airURL+"all", {
            method: 'GET',
            headers: {
              'Content-Type': 'application/json'
            }
          });
          const myJson = await response.json(); //extract JSON from the http response
          // do something with myJson
          document.getElementById("statusAllValues").innerHTML = JSON.stringify(myJson);
        }

        async function getVal(gv_value, cfgStr) {
          const response = await fetch(airURL+cfgStr+gv_value, {
            method: 'GET',
            headers: {
              'Content-Type': 'application/json'
            }
          });
          const myJson = await response.json(); //extract JSON from the http response
          // do something with myJson
          document.getElementById(gv_value).innerHTML = JSON.stringify(myJson);
        }

        async function setVal(sv_value, cfgStr) {
          var payload = {};
          var textBox = document.getElementById(sv_value+"_box");
          console.log("BAG text box:");
          console.log(textBox.value);
          payload.data = textBox.value;
          const response = await fetch(airURL+cfgStr+sv_value, {
            method: 'POST',
            headers: {
              'Content-Type': 'application/x-www-form-urlencoded'
            },
            body: JSON.stringify(payload)
          });
          const myJson = await response.json(); //extract JSON from the http response
          // do something with myJson
          document.getElementById(sv_value).innerHTML = JSON.stringify(myJson);
        }
    </script>
</body>
</html>
